*{
    padding: 0;
    margin:0;
}
nav{
    color: white;
    background-color: black;
    padding: 15px;
}

li,h1,ul{
    display: inline;
}

ul{
    margin-left: 60%;
    color: gray;
}

li:hover{
    color: white;
    cursor: pointer;
}

input{
    width: 60%;
    padding:15px;
}

.searchbar{
    margin: 50px;
    text-align: center;
}
.box{
    border-color: black;
    border-width: 2px;
    border-style: solid;
    display: inline-block;
    width: 220px;
}

.books{
    text-align: center;
}

.box:hover{
    color: white;
    background-color: black;
}

.about{
    text-align: center;
    margin-top: 20px;
    padding: 30px;
}

.contact{
    text-align: center;
    color: white;
    background-color: black;
    padding: 40px;
}